# Yorno .env

# ENV
NODE_ENV=development

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Yorno
ALLOWED_DEV_ORIGINS=                          # e.g. 192.168.1.50:3000. This should include your machine's local IP address(es).

# Database (Neon)
DATABASE_URL=                                 # postgresql://user:pass@host/db?sslmode=require

# Authentication (Better-Auth)
BETTER_AUTH_SECRET=                           # openssl rand -base64 32
BETTER_AUTH_URL=http://localhost:3000

# Email (Resend)
RESEND_API_KEY=                               # re_...
RESEND_FROM_EMAIL=noreply@yorno.rsvp

# Security (Arcjet)
ARCJET_KEY=                                   # ajkey_...

# File Storage (Uploadthing)
UPLOADTHING_SECRET=                           # sk_live_...
UPLOADTHING_APP_ID=                           # from uploadthing dashboard

# Payments (Stripe)
STRIPE_SECRET_KEY=                            # sk_test_... (sk_live_... in production)
STRIPE_PUBLISHABLE_KEY=                       # pk_test_...
STRIPE_WEBHOOK_SECRET=                        # whsec_...
STRIPE_PRO_PRICE_ID=                          # price_...
STRIPE_ORG_PRICE_ID=                          # price_...

# Error Tracking (Sentry)
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_DSN=                                   # https://...@sentry.io/...
SENTRY_AUTH_TOKEN=                            # same as above

# shadcn/ui preset
SHADCN_PRESET=bcivVKXS				                # npx shadcn@latest init --preset bcivVKXS --template next --pointer
